.error__page-backdrop {
  backdrop-filter: blur(5px);
}

.error__page {
  color: var(--white);
  z-index: 20;
  border: 1px solid var(--red);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 90vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;

  @media (min-width: 600px) {
    height: 70vh;
    width: 60vw;
  }
}

.loading-backdrop {
  color: var(--white);
  z-index: 10;
}
