.pagination {
  margin: 0 auto !important;

  & .MuiPaginationItem-root {
    color: var(--black); // колір неактивних сторінок
  }

  & .MuiPaginationItem-page.Mui-selected {
    background-color: var(--black); // колір активної сторінки
    color: var(--white); // колір тексту активної сторінки

    &:hover {
      color: var(--black);
    }
  }
}
